<H2 align="left">Напишите нам!</H2>
<form>
	<div class="form-group mb-3">
		<input type="name" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Имя">
		<input type="email" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Email">
		<input type="tema" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Тема">
		<textarea type="dis" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Описание"></textarea>
		<button type="button" class="btn btn-success">Отправить</button>
	</div>
	<h4>Контакты</h4>
	<p>Телефон: 8(495)223-92-76 (с 9 до 19 ч. пн-пт)</p>

	<p>Email: zakaz.goldenmiddle@mail.ru</p>

	<p>Адрес: 117042, г. Москва, Чечерский пр-зд д. 24 , пом. 1, комн. 2, оф. 56</p>
</form>
