<H1  align="left">Сборные туры на Кавказ</H1>
<h2>Летим организованной группой из Москвы!</h2>
<%= image_tag "img/g.jpg",align:"justify", width:"100%" %>
<p>
  Вы зашли на сайт официального <span class="videl-red">туроператора по России «Золотая Середина»</span>. Здесь Вы можете записаться на автобусные экскурсии из Москвы и разных городов Подмосковья или заказать необходимый тур для своей группы на автобусе или поезде. Наш опыт организации экскурсий более 10 лет! Наличие проверенных экскурсоводов в Москве, Казани, Санкт-Петербурге, Пскове, Дивеево, Селигере и других исторических городах.
</p>
<p>
  Вы можете быть уверены, что мы подберем для Вас лучший вариант транспорта, экскурсионной программы тура, питания в кафе, размещения в комфортном отеле и развлекательной программы для наших клиентов. По Вашей просьбе, мы заменим обед в программе на постный или вегетарианский, а влюбленных пар, во время многодневных экскурсий автобусом, разместим в номерах с 2-спальной кроватью.
</p>
<p>
  На экскурсиях сборных групп возможна оплата наличными при посадке в транспорт или по безналу для организаций. Группам от 5 человек – стоимость ж/д или автобусного тура по детскому билету, а от 10 человек – 1 билет бесплатно. Для постоянных клиентов бесплатное смс-оповещение о новых<strong> экскурсиях по России от GoldenMiddle.</strong>
</p>
<p>
  Заранее известны посадочные места, согласованные с каждым туристом. Вы можете быть спокойны, что приедет современный транспорт с кондиционером и удобными сиденьями.
</p>
<p>
  С нашей <span class="videl-blue">туристической фирмой Golden Middle</span> Вы сможете:
  - заказать школьный тур на автобусе или поезде по Москве и России;
  - организовать корпоративный выезд для сотрудников вашей компании;
  - путешествовать в составе наших сборных групп на автобусе, поезде, самолете по Москве, Подмосковью, Золотому Кольцу и всей России.
  - подобрать круиз по рекам России;
  - заказать прием Вашей группы в городах России.
</p>
<p><i>
  Ежегодно подтверждаем статус туроператора в Едином федеральном реестре Ростуризма под номером ВНТ 006197.
</i>	</p>
<p>
  Сотрудничество с «Золотой Серединой» – это гарантия качества и лучшей цены Вашего путешествия! Мы действительно находим золотую середину (оптимальный вариант) во всем, что делаем для Вас! Отдыхайте только вместе с нами!
</p>