<H2 align="left">Сотрудники</H2>
<div class="container">
  <div class="row">
    <% @staff.each do |staff_member| %>
      <div class="col-6">
        <%= image_tag staff_member.image, align: "left", class: "mb-3" %>
        <div class="fl_cl">
          <h4><%= staff_member.name %></h4>
          <h5><%= staff_member.profession %></h5>
        </div>
      </div>
    <% end %>
  </div>
</div>
