/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.fl-r {
    float: right;
    color: red;
}
.videl-red {
    color: darkred;
    text-decoration: underline;
}

.videl-blue {
    color: blue;
    text-decoration: underline;
}

.fl {
    display: flex;
}
.fl_cl {
    display: flex;
    flex-direction: column;
}

.back{
    background-color: #f8f8f8;
}
