.fl-r {
    float: right;
    color: red;
}
.videl-red {
    color: darkred;
    text-decoration: underline;
}

.videl-blue {
    color: blue;
    text-decoration: underline;
}

.fl_cl {
    display: flex;
    flex-direction: column;
}

.back{
    background-color: #f8f8f8;
}
.cont{
    min-height: calc(100vh - 80px);
}
.w-95{
    width: 95%;
}