<%= link_to "Назад к каталогу", catalog_index_path, class: 'btn btn-secondary' %>
<h1><%= @product.name %></h1>
<h2>Описание услуги</h2>
<%= image_tag @product.product_images.find_by(title: 'Title').image, width: "50%", align: "justify" %>
<p>Джиптур для тех, кто влюблен в горы и мечтает увидеть самые красивые места Приэльбрусья! Тур не требует специальной подготовки, нет сложных треккингов, можно ехать всей семьей с детьми. Вас провезут по крутым местам, куда могут добраться только подготовленные джипы с опытными водителями.</p>
<% # html_safe_translation(@product.description) %>
<table border="3" cellpadding="20" cellspacing="5">
	<tr>
		<td colspan=4 align="center">Стоимость тура</td>

	</tr>
	<tr>
		<td colspan=2 align="center">Дагестан</td>
		<td colspan=2 align="center">Чечня</td>
	</tr>
	<tr>
		<td>Детский билет</td>
		<td>Взрослый билет</td>
		<td >Детский билет</td>
		<td >Взрослый билет</td>
	</tr>
	<tr>
		<td >20000</td>
		<td >27000</td>
		<td >15000</td>
		<td >19000</td>
	</tr>
</table><BR>
<h5>Описание тура</h5>
<ol type="circle">
	<li> День 1
		<ol type="a">
			<li><span class="videl-red">Вылет из Москвы</span> в 10.00 утра. Есть рейс из Шереметьево и Внуково. Перелет до города Минеральные Воды. Помогаем приобрести билеты.</li>
			<li><span class="videl-red">Прибытие в 12.30 в Минеральные Воды</span>Встреча на джипах прямо из аэропорта. В пути на Плато Бермамыт вы увидите горные пейзажи и диких лошадей</li>
			<li><span class="videl-red">Джиптур на Плато Бермамыт</span> это часть Скалистого хребта Большого Кавказа. Его название переводится как «кривое колено». Рельеф места действительно необычный: причудливые колонны, асимметричные склоны и ущелья выглядят, словно декорации в кино. Вершина плато, Большой Бермамыт, находится на высоте 2592 метра над уровнем моря. Сюда едут, чтобы полюбоваться видом на Эльбрус и невероятные закаты, который мы и увидим, а также сделаем прекрасные фото.</li>
			<li><span class="videl-red">Можно пообедать в горном кафе</span> в 10.00 утра. Есть рейс из Шереметьево и Внуково. Перелет до города Минеральные Воды. Помогаем приобрести билеты.</li>
			</li>
		</ol>
	</li>
</ol>
<li> День 2
	<ol type="a">
		<li><span class="videl-red">Завтрак в отеле "шведский стол"</span>
		</li>
		<li><span class="videl-red">Экскурсия на Чегемские водопады</span> это визитная карточка Кабардино-Балкарии. Здесь сплетаются между собой две стихии вода и камень, образуя невероятные и, порой, фантастические пейзажи. Чегемское ущелье - входит в список самых красивых мест Кабардино-Балкарской Республики. Оно представляет собой огромный 15-метровый разлом в горе, высотой около 300 метров. Стены разлома на этом участке максимально сужаются и путнику кажется, что горы закрывают небо. По его дну течет горная река Чегем. Существует легенда, что каньон образовался от удара лошадиного копыта, когда богатырь Карашауая скакал по горам Кавказа.
		</li>
		<li><span class="videl-red">Водопад Абай-Су</span> это самый высокий некаскадный 78-ми метровый водопад  Кабардино-Балкарии, спадающий с базальтовых скал. Свое название водопад получил от имени одного из охотников — Абая, известного своей меткостью.
		</li>
	</ol>
</li>
